<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>from using get</title>
</head>
<body>
    <form action="/submit" method="get">
        <label for="">name</label>
        <input type="text" name="name1" id="">
        <br>
        <label for="">id</label>
        <input type="number" name="id1" id="">
        <br>
        <button type="button">submit</button>
    </form>
</body>
</html>